{% extends "Theme.twig" %}

{% block content %}

    <h1>BUY TICKETS</h1>
    <hr class="blockspace">

    {{ dump(selectedTickets) }}

    <a href="/tickets/" class="text-muted">&laquo; BACK</a>

{% endblock %}
