{% extends "Theme.twig" %}

{% block content %}

    <h1>BUY TICKETS</h1>
    <hr class="blockspace">

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <!--suppress HtmlUnknownTarget -->
            <a href="/tickets/details/" class="text-muted">
                <i class="fa fa-arrow-left"></i> BACK
            </a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
            <!--suppress HtmlUnknownTarget -->
            <form action="/tickets/abort/" method="post">
                <button type="submit" class="btn-link" style="margin: 0; padding: 0;">
                    <span class="text-danger">
                        <i class="fa fa-ban"></i> ABORT
                    </span>
                </button>
            </form>
        </div>
    </div>

{% endblock %}
